
@{
    ViewBag.Title = "Company";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <ol>
            <li>
                @ViewBag.a
            </li>
            <li>
                @ViewBag.b
            </li>
            <li>
                @ViewBag.c
            </li>

        </ol>
        <p>
            <a class=" btn btn-default" href="https://www.youtube.com/watch?v=vRqz_zUiJTw&feature=youtu.be">
           learn more
            </a>
        </p>

    </div>

    




</body>
</html>
