@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4 col-xs-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4 col-xs-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4 col-xs-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-xs-4">
        <h2>Sa incepem</h2>
        <p>

            Muntele este o formă de relief pe suprafața pământului care se extinde deasupra terenului limitrof pe o suprafață limitată, fiind mai mare decât dealul, de obicei stâncoasă și depășind înălțimea de 800 m. Există desigur un mare spațiu de libertate în a aprecia pe plan local ceea ce constituie sau nu un munte.

            Munții acoperă suprafețe de aproximativ 52% din Asia, 36% din America de Nord, 25% din Europa, 22% din America de Sud, 17% din Australia și doar 3% din Africa. Per ansamblu, circa 22% din suprafața uscatului Terrei este muntoasă. De asemenea, 1 din 10 oameni locuiesc în zone montane. Absolut toate fluviile și râurile importante ale planetei izvorăsc și sunt alimentate din surse montane, respectiv mai mult de jumătate din umanitate depinde vital de apa montană.
        </p>
        <p><a class="btn btn-default btn-sm" href="https://ro.wikipedia.org/wiki/Munte">Sa invatam &raquo;</a></p>
    </div>
    <div class="col-md-4 col-xs-4">
        <h2>mai multe informatii</h2>
        <div>
        <p>
            Suprafața Pământului e un etern câmp de luptă între forța ascendentă de formare a munților și forțele de eroziune a gheții, apei și gravitației.

            După formarea unui lanț, dezagregarea începe să distrugă suprafața rocilor. Ghețarii, râurile și căderile de pietre transportă aceste resturi lăsând în urmă piscuri și creste individuale și numeroase văi. În acest stadiu se află masivele mai tinere, precum Alpii și Himalaya, care au început să se formeze acum 4,5-10 milioane de ani.

            Odata cu continuarea dezagregarii și a eroziunii, piscurile se transformă treptat în dealuri rotunjite. Se poate observa în unele părți din Scoția și Canada, unde munții s-au format acum circa 460-390 milioane de ani.
        </p>
   

            </div>
        
        <p><a class="btn btn-default btn-lg" href="https://ro.wikipedia.org/wiki/Munte#Vechi_%C8%99i_nou">mai mult &raquo;</a></p>
    </div>
    <div class="col-md-4 col-xs-4">
        <h2>diverse</h2>
        <p>Forma de relief reprezintă totalitatea asperităților scoarței terestre, fiind rezultatul interacțiunii agenților geografici interni și externi. Cele mai cunoscute forme de relief sunt muntele, dealul, câmpia (numită și șes), valea, depresiunea și podișul; caracteristicile lor sunt determinate de înălțimile la care acestea se află, de tipul geologic din care sunt alcătuite și de floră și faună. Cele mai înalte forme de relief sunt munții (cel mai înalt fiind 8848, vârful Everest din masivul Himalayan) și cele mai joase (de sub nivelul mării) sunt fosele sau gropile abisale (cea mai joasă fiind la 11 022, Groapa Marianelor, Oceanul Pacific). Formele de relief pot fi continentale sau submarine.</p>
        <p><a class="btn btn-default" href="https://ro.wikipedia.org/wiki/Form%C4%83_de_relief"><b>Despre</b> &raquo;</a></p>
    </div>
    <div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th> First name</th>
                            <th> Last name</th>
                            <th> Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th> Ion</th>
                            <th> Enache</th>
                            <th> ionenache@gmail.com</th>
                        </tr>
                        <tr>
                            <th> Maria</th>
                            <th> Ionescu</th>
                            <th> mariaionescu@gmail.com</th>
                        </tr>
                    </tbody>
                </table>
            </div>





        </div>
    </div>
</div>