
@{
    ViewBag.Title = "Harta";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="row">
        <div class="col-md-6 col-xs-4">
            <form>
                First name:<br>
                <input type="text" name="firstname"><br>
                Last name:<br>
                <input type="text" name="lastname">
            </form>
            <h2>Comentarii</h2>
            <p style="color:blue;">Va rugam scrieti un comentariu</p>

            <form action="/action_page.php" onsubmit="alert('submit!');return false">
                <textarea name="message" rows="10" cols="30">text.</textarea>
                <br>
                <input type="submit">
            </form>




        </div>
        <div class="col-md-6 col-xs-4">
            <h2>Adresa</h2>
            <div>
                <p>
                    Strada Piata Montreal 10
                    Bucuresti
                    Cod postal 10000
                </p>
            </div>
        </div>
    </div>








    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
    </style>


    <!--Google map-->
    <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
        <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                style="border:0" allowfullscreen></iframe>
    </div>

    <!--Google Maps-->


    @{var price = 25;}

    <div>
        @if (price >= 30)
        {
            <p>The price is high.</p>
        }
        else if (price > 20 && price < 30)
        {
            <p>The price is OK.</p>
        }
        else
        {
            <p>The price is low.</p>
        }
    </div>

    <footer>

        <p>
            Posted by: Hege Refsnes
        </p>
        <p>
            Contact information: <a href="mailto:someone@example.com">
                someone@example.com
            </a>
        </p>

    </footer>
</body>
</html>
